.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.del{
  display:none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background: rgba(0,0,0,.8);
  z-index: 1000;
}
[data-type]{
  position:absolute;
  z-index:2;

}
[data-type]:hover .del{display:block}
